.heroHome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: no-repeat center /cover url("/src/components/herosection/home-1.jpg");
    color: white !important;
}
.container-homeSection{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.534);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 90px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content p{
    font-size: 1.8rem;
}
.content h1{
    margin-top: .6rem;
    font-size: 2.5rem;
}
.content-btn-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .9rem;
    width: 270px;

}

.btn-1{
    padding: 8px 20px;
    background: linear-gradient(to left , transparent 50% , #F2E96D 50%);
    background-size: 200%;
    box-shadow: 0 0 10px rgba(255, 230, 0, 0.742);
    color: black;
    font-weight: 600;
    transition: all .4s ease-out;
}
.btn-1:hover{
    box-shadow: 0 0 10px rgba(209, 209, 209, 0.742);
    border: 1px solid white;
    background-position: 100%;
    color: white;
}
.btn-2{
    padding: 8px 20px;
    border: 1px solid white;
    background: linear-gradient(to right , transparent 50% , #6d00bb 50%);
    background-size: 200%;
    color: white;
    transition: all .4s ease-out;
}
.btn-2:hover{
    border: none;
    background-position: 100%;
    cursor: pointer;
}
.socialNetwork{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 96%;
    left: 25px;
    transform: translate(0 , -96%);
}
.picture_home{
    width: 200px;
    height: 200px;
    border-radius: 9999px;
    overflow: "hidden";
    background: no-repeat left / cover url('../../components//heroSectionAbout/racoon.svg');
    position: absolute;
    top: 94%;
    right: 20px;
    transform: translate(0 , -94%);
}


@media screen and (max-width: 672px) {
    .container-homeSection{
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        padding-top: 0px;
        align-items: center;
        display: flex;
        gap: 30px;
    }
}

